.container{
    max-width: 1240px!important;
    padding: 0 30px!important;
    margin: 0 auto!important;
    background-color:rgba(255, 255, 255, 0.252);
}
.container-sm{
    max-width: 540px!important;
    padding: 0 10px!important;
    margin: 0 auto!important;
}