
.main{
    height:max-content;
    @include display(space-between,center);
    padding:30px 0px ;
    box-sizing: border-box;
    &__text{
        width: 545px;
        height: max-content;
        h1:nth-child(1){
            font-family: poppins,sans-serif;
            font-size: 48px;
            color:#1F2E35;
        }
        h1:nth-child(2){
            font-family: Roboto-bold;
            font-size: 48px;
            color:#EE4248;
        }
        p{
            font-size: 20px;
            font-family: Roboto-Light;
            color:#30444E;
        }
        a{
            font-family: Roboto-light;
            display: inline-block;
            text-decoration: none;
            color:#ffffff;
            background-color:#EE4248;
            box-shadow: 1px 1px 4px 1px #00000040;
            border-radius: 4px;
            padding: 12px 32px;
        }
    }
    &__img{
        width: 560px;
        height: 381px;
        margin-left: 80px;
    }
}

@media  screen and (max-width:850px) {
    .main{
        @include display(space-between,center);
        flex-direction: column;
        height: max-content;
        padding: 20px 0px;
        box-sizing: border-box;
        &__text{
            width: auto;
            margin-bottom: 50px;
            height: max-content;
            h1:nth-child(1){
                font-family: poppins,sans-serif;
                font-size: 35px;
                color:#1F2E35;
            }
            h1:nth-child(2){
                font-family: Roboto-bold;
                font-size: 35px;
                color:#EE4248;
            }
            p{
                font-size: 17px;
                font-family: Roboto-Light;
                color:#30444E;
            }
            a{
                padding: 12px 32px;
            }
        }
        &__img{
            height: auto;
            @include display(center,center);
            margin: 50px;
        }
    }
}